<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-wrap>
     
  
    <div class="vjs-pip-container">

  <video #my_video_1 id="my_video_1" class="video-js vjs-default-skin" width="320px" height="133px"
      controls preload="none" data-setup='{ "aspectRatio":"320:133", "playbackRates": [1, 1.5, 2] }'>
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  </video>
  <script src="https://players.brightcove.net/1752604059001/default_default/index.min.js"></script>

</div>
  <ion-button large (click)="pip()">PIP</ion-button>

  <p>
      Lorem ipsum dolor sit amet, lectus ac porttitor mauris sit nec cupidatat, lobortis tempor lacus dui id, sit amet, fringilla mi pharetra volutpat mauris. Urna in magnis neque nunc, varius suspendisse erat nullam nibh sed a, tincidunt scelerisque magnis ac tortor rutrum, eget lacus urna porta, cras vel. Enim commodo wisi bibendum ornare ullamcorper metus, mauris venenatis nulla neque suspendisse, orci odio officia, eget nunc aenean. 
    </p>
    <p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p>
    <p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p>
    <p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p>
    <p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p>
    <p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p>
    <p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p><p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p><p>
      Posuere a pellentesque praesent wisi, pede feugiat lectus egestas eget, mattis condimentum elit, vivamus amet vestibulum egestas cras donec fusce, lectus at. Quisque torquent, nulla eros, et suscipit elit, gravida consequat diam cras turpis mauris nam. Vivamus varius amet cursus elit, possimus donec arcu luctus. Libero dapibus nunc sapien.
    </p>
</ion-list>

</ion-content>
