<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <app-ppalvideo></app-ppalvideo>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <h1>{{jsonvideo.name}}</h1>
    <h3>Destacados</h3>
    <ion-slides>
      <ion-slide *ngFor="let item of jsonvideo.videos">
        <ion-card>
          <ion-card-header>
            {{ item.id }}
          </ion-card-header>
          <ion-card-content>
            <vg-player [id]='"vgm" + item.id' (onPlayerReady)="onPlayerReady($event)">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>
              <vg-scrub-bar *ngIf="vgctrl">
                <vg-scrub-bar-current-time *ngIf="vgctrl"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time *ngIf="vgctrl"></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-controls style="background-color: transparent">
                <vg-play-pause *ngIf="vgctrl"></vg-play-pause>
                <vg-mute></vg-mute>
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar> </vg-scrub-bar>
                <vg-fullscreen></vg-fullscreen>
                <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" (click)="pip('vd_'+item.id, 'src'+item.id)">
                  <ion-icon name="open"></ion-icon>
                </ion-button>
                <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" (click)="ppl('vd_'+item.id, 'src'+item.id)">
                  <ion-icon name="square-outline"></ion-icon>
                </ion-button>
              </vg-controls>
              <video [vgMedia]="media" #media [id]='"vd_" + item.id' [poster]="item.poster" preload="auto">
                <source [id]='"src" + item.id' [src]="item.url" [type]="item.type">
              </video>
            </vg-player>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h3>Retos</h3>
    <ion-slides pager="true">
      <ion-slide *ngFor="let item of jsonvideo.videos">
        <ion-card>
          <ion-card-header>
            {{ item.id }}
          </ion-card-header>
          <ion-card-content>
            <vg-player [id]='"vgm" + item.id' (onPlayerReady)="onPlayerReady($event)">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>
              <vg-scrub-bar *ngIf="vgctrl">
                <vg-scrub-bar-current-time *ngIf="vgctrl"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time *ngIf="vgctrl"></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-controls style="background-color: transparent">
                <vg-play-pause *ngIf="vgctrl"></vg-play-pause>
                <vg-mute></vg-mute>
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar> </vg-scrub-bar>
                <vg-fullscreen></vg-fullscreen>
                <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" (click)="pip('vd_'+item.id, 'src'+item.id)">
                  <ion-icon name="open"></ion-icon>
                </ion-button>
                <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" (click)="ppl('vd_'+item.id, 'src'+item.id)">
                  <ion-icon name="square-outline"></ion-icon>
                </ion-button>
              </vg-controls>
              <video [vgMedia]="media" #media [id]='"vd_" + item.id' [poster]="item.poster" preload="auto">
                <source [id]='"src" + item.id' [src]="item.url" [type]="item.type">
              </video>
            </vg-player>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <br>
    </ion-slides>
    <button ion-button (click)="masvideos()">Mas videos</button>
  </ion-list>
  <ion-list>
  </ion-list>
</ion-content>