<ion-header>
  <ion-toolbar>
    <ion-title>
      Retos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of jsonvideo.videos " no-padding>
      <br>
      <div>
        <h3> {{ item.id }}</h3>
        <vg-player [id]='"vgm" + item.id' (onPlayerReady)="onPlayerReady($event)">
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar *ngIf="vgctrl">
            <vg-scrub-bar-current-time *ngIf="vgctrl"></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time *ngIf="vgctrl"></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls style="background-color: transparent">
            <vg-play-pause *ngIf="vgctrl"></vg-play-pause>
            <vg-mute></vg-mute>
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-fullscreen></vg-fullscreen>
            <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" (click)="pip('vd_'+item.id, 'src'+item.id)">
              <ion-icon name="open"></ion-icon>
            </ion-button>
            <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" (click)="ppl('vd_'+item.id, 'src'+item.id)">
              <ion-icon name="square-outline"></ion-icon>
            </ion-button>
            <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" onclick="alert('Me gusta')">
              <ion-icon name="trophy"></ion-icon>
            </ion-button>
            <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" onclick="alert('Comentar')">
              <ion-icon name="chatbubbles"></ion-icon>
            </ion-button>
            <ion-button class="btnplayer" fill="clear" *ngIf="!vgctrl" onclick="alert('Compartir')">
              <ion-icon name="contacts"></ion-icon>
            </ion-button>
          </vg-controls>
          <video [vgMedia]="media" #media [id]='"vd_" + item.id' [poster]="item.poster" preload="auto">
            <source [id]='"src" + item.id' [src]="item.url" [type]="item.type">
          </video>
        </vg-player>
      </div>
      <br>
    </ion-item>
    <button ion-button (click)="masvideos()">Mas videos</button>
  </ion-list>
  <ion-list>
  </ion-list>
</ion-content>