<div>
  <ion-slides #ppalslider pager="false" (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide>
      <vg-player [id]="vgmvppalP" *ngIf="srcurl != ''" (onPlayerReady)="onPlayerReadyP($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering> 
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-mute></vg-mute>
          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar> </vg-scrub-bar> 
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
        <video [vgMedia]="vppalP" #vppalP id="vppalP" preload="auto">
          <source [src]="srcurl">
        </video>
      </vg-player>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slides>
</div>