<ion-content no-padding>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list>
    <!-- <ion-item>
      <ion-progress-bar [value]="pbr"></ion-progress-bar>
    </ion-item> -->
    <!-- <ion-item >
        <ion-img style="width: 100%; height: 100%;" [src]="imagenalgo" (ionImgDidLoad)="_loaded(true)"></ion-img>
        <span *ngIf="cambiar(pbr)"></span>
    </ion-item> -->
    <ion-slides [options]="slideOpts" #slidesStories (ionSlideDidChange)="onSlideChage($event)" no-padding>
      <ion-slide *ngFor="let item of jsonvideo.personas">
        <div class="divbase divleft" (click)="backward()"></div>
        <div class="divcenter" (click)="onPlayPause()"></div>
        <div class="divbase divright" (click)="forward()"></div>
        <div class="title">
          {{item.name}}
          <ion-progress-bar [value]="pbr"></ion-progress-bar>
        </div>
        <div class="pantalla" >
          <ion-img *ngIf="formatType=='image'" class="pantalla" [src]="imagenalgo" (ionImgDidLoad)="_loaded(true)">
          </ion-img>
          <video *ngIf="formatType=='video'" (play)="_loaded(true)" autoplay loop class="pantalla">
            <source [src]="imagenalgo" type="video/mp4">
          </video>
          <span *ngIf="cambiar(pbr)"></span>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-list>
</ion-content>